<DOCTYPE html>
</html>
	<head>
		<title>Twitter OAuth</title>

		<link rel="stylesheet" text="text/css" href="/public/style.css" />

		<script src="/public/script.js" defer></script>
	</head>

	<body>
		<button id="twitter-signin">
			<a href="http://localhost:3000/requestToken">Sign In With Twitter</a>
		</button>
	</body>
<html>